.title{
    margin:30% 0% 0% 0%;
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    text-decoration:dotted;
    animation: txt 5s linear infinite;
}

@keyframes txt {
    0% {color: black;
        transform: rotate(0deg);
    }
    25%{color: gray;
        transform: rotate(90deg);
    }
    50%{color: red;
        transform: rotate(180deg);
    }
    75%{color: pink;
        transform: rotate(270deg);
    }
    100%{color: seashell;
        transform: rotate(360deg);
    }
    
}
.teamo{
    margin: 10%;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: absolute;
    animation: beating 2s ease infinite, anim 5s linear infinite;
    
}

.teamo::after, .teamo::before{
    content: "";
    animation: anim 5s linear infinite;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  
}

.teamo::after{
    top: 0;
    left: -50px;
}

.teamo::before{
    top: -50px;
}

@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }


  @keyframes anim{
    0% {background-color: rgb(255, 25, 25);} 
    25%{background-color: rgb(255, 145, 145);}
   50% {background-color: pink;} 
   75%{background-color: rgb(250, 83, 111);}
  100% {background-color: #fc1e43} }



  @media only screen and (max-width: 600px){
    .title{
        margin: 10% 10% 10% 10%;
    }
    .teamo{
        margin: 42%;
    }
    .teamo, .teamo::after, .teamo::before{
        width: 50px;
        height: 50px;
    }

    .teamo::after{
        top: 0;
        left: -25px;
    }
    .teamo::before{
        top:-25px;
    }

    .mis_sentimientos{
        position: absolute;
        margin-top: 65%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .boton{
        width: 15%;
        height: 5%;
        position: absolute;
        margin-top: 120%;
        margin-left: 40%;
        background-color: #fc1e43;
        border-radius: 20px;
        text-align: center;
    
        
    }
  }